
{:paths ["source-code/clj"]
 :deps  {com.novemberain/monger       {:mvn/version "3.5.0"}
         mt-app-kit/cljc-common-state {:git/url "https://github.com/mt-app-kit/cljc-common-state"
                                       :sha     "6b3e58faf87802c4c824a48d94458648cc09a6bb"}
         mt-utilities/cljc-fruits     {:git/url "https://github.com/mt-utilities/cljc-fruits"
                                       :sha     "6b5c9c060bdff84d0cd0bce908b64b268e5e6f0e"}
         mt-utilities/cljc-time       {:git/url "https://github.com/mt-utilities/cljc-time"
                                       :sha     "cb5bba453d022b5248196ac73e8f3916b06d441c"}
         org.clojure/clojure          {:mvn/version "1.10.1"}}}
