
{:paths ["source-code/clj"]
 :deps  {com.novemberain/monger    {:mvn/version "3.5.0"}
         bithandshake/cljc-fruits  {:git/url "https://github.com/bithandshake/cljc-fruits"
                                    :sha     "f4b0a8b5d0672df16e4c21bc883e3a4f1412a238"}
         bithandshake/re-frame-api {:git/url "https://github.com/bithandshake/re-frame-api"
                                    :sha     "fcbd742af5a30339b9229313250b8bf58f1ca3ce"}
         bithandshake/time-api     {:git/url "https://github.com/bithandshake/time-api"
                                    :sha     "2536131c627613321beb0da094a08ca2a7be21d3"}}}
