
{:paths ["source-code/clj"]
 :deps  {com.novemberain/monger    {:mvn/version "3.5.0"}
         bithandshake/cljc-fruits  {:git/url "https://github.com/bithandshake/cljc-fruits"
                                    :sha     "d6f99027ec051b3b775a8cdfbc776fd5f9b8e41b"}
         bithandshake/re-frame-api {:git/url "https://github.com/bithandshake/re-frame-api"
                                    :sha     "259862a834a26dc245294926fbd6a3d9dde14d61"}
         bithandshake/time-api     {:git/url "https://github.com/bithandshake/time-api"
                                    :sha     "206aa57532a9a529069c2b5b17c2d1b398cd3483"}}}
